// 改变默认值

// 颜色
$navBgColor = #16a085
$accentColor = #16a085
$badgeTipColor = #16a085
$badgeWarningColor = #f1c40f
$badgeErrorColor = #e74c3c

// $accentColor = #3eaf7c
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc
// $badgeTipColor = #42b983
// $badgeWarningColor = darken(#ffe564, 35%)
// $badgeErrorColor = #DA5961

// 布局
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
// $contentWidth = 740px
$contentWidth = 1000px
$homePageWidth = 960px

// 响应式变化点
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px
